# General
*.log
*.tmp
*.swp
.DS_Store
.cache

# Rust
/target
**/target/
Cargo.lock
**/*.rs.bk

# C++
/build
**/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Editor-specific
*.code-workspace
.vscode/
.zed/
*.zed/
